---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "/bower_components/bootstrap/dist/css/bootstrap.min.css";


// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
.container {
  width: 85%;
}

body {
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #CCEEFF;
  height: 100%;
  width: 100%;
  background-image: url(https://static.wixstatic.com/media/a60710612bbc4609ac93e78a1fa234c0.png);
}

p {
  margin: auto;
}

.row {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (max-width: 1255px) {
  .navbar-brand {
    font-size: 330% !important;
  }

  .title {
    min-height: 43px !important;
  }

  .under {
    font-size: 40%;
  }

  .navbar-default .navbar-nav>li>a {
    font-size: 90% !important;
    padding: 15 20px !important;
  }

  #sticker-text {
    font-size: 90% !important;
  }

  #textarea-text {
    font-size: 90% !important;
  }
}

@media screen and (max-width: 1030px) {
  .navbar-brand {
    font-size: 260% !important;
  }

  .title {
    min-height: 38px !important;
  }

  .under {
    font-size: 30%;
  }

  .navbar-default .navbar-nav>li>a {
    font-size: 60% !important;
    padding: 10px 14px !important;
  }

  body {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  #sticker-text {
    font-size: 60% !important;
  }

  #textarea-text {
    font-size: 75% !important;
  }
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 200% !important;
    text-align: left !important;
  }

  .title {
    min-height: 30px !important;
  }

  .under {
    font-size: 20%;
  }

  .navbar-default .navbar-nav>li>a {
    font-size: 90% !important;
    padding: 15 20px !important;
  }

  #sticker-text {
    font-size: 30% !important;
  }

  #textarea-text {
    font-size: 40% !important;
  }

  .navbar {
    background-color: white;
  }

  .navbar-nav {
    float: none !important;
  }
}

a.navbar-brand {
  color: #5A7972 !important;
  font-family: cursive;
  font-size: 400%;
  text-align: center;
  padding: 5px;
  height: 100%;
}

.title {
  min-height: 50px;
}

.under {
  font-size: 50%;
}

.navbar-toggle {
  border: 1px solid #5c697b;
}

.navbar-toggle .icon-bar {
  background-color: #5c697b;
}

.navbar-nav {
  float: right;
  border-radius: 0px;
  border-color: white;
  background-color: white;
}

.navbar-nav>li>a {
  font-size: 100%;
  font-family: sans-serif;
  text-align: center;
  color: #0C3C60;
  padding: 15px 35px;
  margin: 0;
  width: 100%;
}

.navbar-nav>li>a:hover {
  transition: background-color 0.5s ease;
  background-color: rgba(92, 105, 123, 1);
  color: white;
}

.carousel {
  margin-left: auto;
  margin-right: auto;
  border: 12px solid white;
  background-color: white;
  max-height: 488px;
}

.carousel-inner>.item>img {
  max-height: 464px;
  width: 100%;
  object-fit: cover;
}

.carousel-textarea {
  top: 10%;
  left: 1%;
  width: 32%;
  height: 58%;
  background-color: rgba(27, 153, 232, 0.7);
  position: fixed;
}

.carousel-textarea-text {
  top: 2%;
  left: 1%;
  width: 100%;
}

.font1 {
  color: #DAEDFF;
  font-size: 200% !important;
  text-align: left;
  margin-left: 10%;
  font-family: sans-serif !important;
  width: 100%;
}

.font2 {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
  font-family: cursive;
  font-size: 300%;
  text-align: left;
  margin-left: 10%;
  width: 100%;
}

.sticker {
  top: 0;
  right: 0;
  width: 24%;
  height: 23%;
  position: fixed;
  float: right;
}

.sticker-text {
  width: 100%;
  line-height: 1.2em;
  text-align: center;
  font-size: 120%;
  color: white;
  font-weight: bold;
}

#sticker-text {
  margin-top: -55%;
}

.panel {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 0px;
  border-radius: 0px;
  margin: auto;
}

.panel-body {
  width: 100%;
  color: #0C3C60;
  text-align: justify;
}

.index {
  width: 100%;
  height: 100%;
  margin-left: -40px;
  margin-bottom: 5%;
  background-color: rgba(92, 105, 123, 1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  border: 0px solid rgba(218, 237, 255, 1);
}

.index-text {
  padding: 5px;
  width: 100%;
  font-size: 150%;
  color: white;
  text-align: center;
}

.index-image {
  width: 100%;
  margin-bottom: 5%;
}

.link {
  transition: color 0.4s ease 0s;
  color: #5C697B !important;
}

.footer-background {
  background-color: rgba(175, 203, 224, 1);
  height: 88px;
  margin-bottom: 30px;
}

.footer {
  position: relative;
  width: 100%;
  height: 120px;
  left: 0px;
}

.footer-text {
  margin-top: 15px;
  font-size: 13px;
  color: #0C3C60;
}

.price-image {
  width: 100%;
  height: 266px;
  object-fit: cover;
}

td {
  padding: 10px;
  border: solid 1px #eee;
}

input {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 7px 14px;
  margin-bottom: 10px
}

input:focus {
  outline: none;
  border-color: #aaa;
}

.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}

.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}

.sort:focus {
  outline:none;
}

.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}

.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}

.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}

.search-background {
  border-radius: 6px 6px 0px 0px;
  height: 37px;
  background-color: #AFCBE0;
}

.search {
  float: right;
  width: 100% !important;
  height: 23px;
  border-radius: 3px !important;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.4);
  padding: 0 6px !important;
  font-size: 12px;
  background-color: rgba(255,255,255,0.8) !important;
  margin-top: 6px !important;
}

.price-list {
  width: 100%;
  height: 630px;
}

#scroll {
  height: 472px;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #95C6EC;
  border: solid 1px #FFFFFF;
}

#tablesorter thead tr th {
  color: #0C3C60;
  background-color: #AFCBE0;
  font-size: 16px;
  padding: 6px;
}

#tablesorter {
  margin: 1px 0px;
}

.list {
  color: #062134;
  font-size: 13px;
}

.list tr td {
  padding: 7px;
  border-width: 1px;
  border-color: #DAEDFF;
}

.tablesorter-default tbody>tr:hover>td {
  background-color: #1B99E8 !important;
}

.line {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 5px;
  border-bottom: 3px solid rgba(27, 153, 232, 1);
}

.price-label {
  margin-left: -40px;
  margin-bottom: 5%;
  width: 100%;
  height: 100%;
  background-color: rgba(92, 105, 123, 1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  border: 0px solid rgba(218, 237, 255, 1);
}

.price-text {
  width: 100%;
  font-size: 150%;
  color: white;
  padding: 5px;
}

.contacts-map {
  width: 100%;
  height: 485px;
}

.map {
  height: 100%;
  width: 100%;
  border: 0px;
}

.panel-body {
  width: 100%;
}

.contacts-label {
  width: 100%;
  height: 100%;
  background-color: rgba(92, 105, 123, 1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  border: 0px solid rgba(218, 237, 255, 1);
  font-size: 150%;
  color: white;
  padding: 5px;
  margin-left: -40px;
  margin-bottom: 5%;
}

.panel-body input, textarea {
  background-color: rgba(149, 198, 236, 1);
  border: 0px;
  border-radius: 0px;
  color: #062134;
  margin: 0 0 5px;
  padding: 5px;
  width: 100%;
}

.panel-body textarea {
  height: 112px;
  resize: none;
}

.panel-body button {
  border: 0;
  border-radius: 0px;
  color: #FFFFFF !important;
  background-color: rgba(27, 153, 232, 1) !important;
  padding: 5px;
  float: right;
}
