<div class="row">
  <div class="footer">
    <div class="footer-background">
      <div class="container">
        <div class="footer-text">© 2016 «Майстриня»</div>
          <div class="social-button">
            <ul>
              <li>
                <a href="https://twitter.com/{{ site.twitter_username }}" target='blank' >
                    <i class="fa fa-twitter"></i> Twitter
                  </a>
              </li>
              <li>
                <a href="https://www.facebook.com/{{ site.facebook_username }}" target='blank'>
                  <i class="fa fa-facebook"></i> Facebook
                </a>
              </li>
              <li>
                <a href="https://vk.com/{{ site.vkontakte_username }}" target='blank'>
                  <i class="fa fa-vk"></i> VK
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
