<head>
  <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Майстриня</title>
  <meta name='title' content='Майстриня - швейна майстерня'>
  <meta name="description" content="Шукаєте якісний та швидкий сервіс по ремонту одягу? Тоді вам до нас. Швейна майстерня "Майстриня" в Черкасах">
  <meta name='keywords' content='швейная мастерская черкассы, швейна майстерня черкаси, швейна майстерня недорого, ремонт одягу черкаси, ремонт одежды черкассы'>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/bower_components/tablesorter/dist/css/theme.default.min.css">
  <link rel="canonical" href="http://yourdomain.com/">
  <link rel="alternate" type="application/rss+xml" title="Your awesome title" href="http://yourdomain.com/feed.xml">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/tablesorter/dist/js/jquery.tablesorter.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/list.js/dist/list.min.js"></script>
  <script src="/js/application.js"></script>
  <meta name="google-site-verification" content="VYRRpjvM_JQrBd35Ls7oWA_WU2PyffMQIpvCy4Uy3b8" />
</head>
